.rollup-container {
    position: relative;
    background-color: aqua;
    width: 100vw;
}

.rollup-heading p {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 20px;
    color: red;
    text-decoration: underline;
    width: 75vw;
    padding-left: 10px; /* Adjust as needed */
    margin-top: 0px;
}

.orders-container {
    width: 65%;
    overflow-y: auto;
}

.user-summary {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
}

.order-details {
    margin-bottom: 20px;
    margin-top: 10px;
}

.order-items {
    display: grid;
    grid-template-columns: repeat(5, 140px);
    gap: 40px;

}

.order-item-card {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 140px;
}

.order-item-card p {
    margin: 2px 0;
    text-align: center;
}

.itemname {
    font-weight: bold;
    font-size: 14px;
}

.price, .quantity, .canteen {
    font-weight: normal;
    font-size: 12px;
}

.details-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.summary {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 30vw;
    margin: 20px;
}

.summary h2 {
    margin: 10px 0;
    font-size: 18px;
}
