.recent-orders-container-unique {
    background-color: azure;
    width: 40vw;
    margin-left: 80px;
    border-radius: 10px;
    height: auto;
}

.order-details-unique {
    display: grid;
    margin: 20px;
}

.order-items-unique {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.order-items-headings-unique {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1.1fr 1.1fr;
}

.order-item-unique {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    margin: 0px;
    border-bottom: 1px solid black;
}

.order-items-list-unique {
    display: grid;
    grid-template-columns: 2fr;
}

.order-items-unique {
    margin: 2px;
}

.recent-orders-container-unique h1 {
    font-weight: 900;
}

.order-details-unique h4 {
    font-size: 20px;
    font-weight: 600;
    color: red;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 2px;
}

.menu-heading-unique p {
    font-size: 16px;
}

.total-checkout-unique p {
    font-size: 18px;
    font-weight: 600;
}

.total-checkout-unique button {
    border-radius: 10px;
    padding: 15px;
    width: 10vw;
    font-weight: 700;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 6px;
}

.total-checkout-unique button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s ease;
}
