
.form {
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_heading {
    padding-top: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.form_body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form_element {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_element label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form_element input, .form_element select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.error {
    color: red;
    font-size: small;
    margin-top: 5px;
}

.form_button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form_button button {
    padding: 10px 20px;
    background-color: #008C9E;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form_button button:hover {
    background-color: #006F79;
}

.login_prompt {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.login_prompt a {
    color: #008C9E;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login_prompt a:hover {
    color: #006F79;
}

@media (max-width: 600px) {
    .form {
        width: 95%;
        padding: 15px;
    }

    .form_heading {
        font-size: 20px;
    }

    .form_element label {
        font-size: 14px;
    }

    .form_element input, .form_element select {
        padding: 8px;
        font-size: 14px;
    }

    .form_button button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .login_prompt {
        font-size: 12px;
    }
}

